@font-face {
    font-family: "SF Regular";
    src: url("../../public/font/System San Francisco Display Regular.ttf");
}
@font-face {
    font-family: "SF Bold";
    src: url("../../public/font/System San Francisco Display Bold.ttf");
}

$def-font-stack : "SF Regular";
$default-back   : #474c4f;
$sdg-back       : #353a3e;
$indicator-back : #262c30;
$barchart-back  : #3a3f43;

$line-color     : #fff7a8;
$bar-color      : #a1a68d;
$meanline-color : #cf5c42;
